@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<p>Nguyễn Ngọc Thuận</p>
<p>0392588422</p>
<p>nguyenngocthuan18082005@gmail.com</p>
